<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Register</h1>

<form action="" method="post">
    {% csrf_token %}
    <br><input type="text" name="username" placeholder="Enter Your User Name"> </br>
    <br><input type="text" name="first_name" placeholder="Enter Your First Name"> </br>
    <br><input type="text" name="last_name" placeholder="Enter Your Last Name"> </br>
    <br><input type="email" name="email" placeholder="Enter Your Email Address"> </br>
    <br><input type="password" name="password" placeholder="Enter Your Password"> </br>
    <br><input type="password" name="password1" placeholder="Confirm Your password"> </br>
    <br><input type="submit"><br>
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>